
@model ComplaintsManagement.UI.Models.ComplaintsViewModel
@{
    Model.ServiceRate.ComplaintsId = Model.Complaint.Data.Id;
}

@if (User.Identity.Name == Model.Complaint.Data.Customer.Email && Model.Complaint.Data.Status.Name.ToUpper() == ComplaintsManagement.UI.Models.StatusName.CLOSE_REQUIRED || Model.Complaint.Data.Status.Name.ToUpper() == ComplaintsManagement.UI.Models.StatusName.CLOSED)
{
    using (Html.BeginForm(controllerName: "ServiceRate", actionName: "Create", method: FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(e => e.ServiceRate.ComplaintsId)
        <div class="card mt-2 mb-2">
            <div class="card-header bg-primary d-flex justify-content-between">
                <div>
                    <h3 class="text-white">Puntuación de Servicio</h3>
                </div>
            </div>
            <div class="container card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <h5>Puntuacion: </h5>
                            @Html.EnumDropDownListFor(e => e.ServiceRate.Rate, Model.ServiceRate.Rate.ToString(),new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <button class="btn btn-primary">Agregar puntuación</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}